.login-page {   
  display: flex;    
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;    /* Висота на всю сторінку */
  background: #fefefe;  /* Світлий фон */
  margin: 0;    /* Без відступів */
}

.login-container {      
  max-width: 400px; /* Максимальна ширина */
  width: 100%;      
  padding: 2rem;    /* Внутрішні відступи */
  background: rgb(0, 0, 0); /* Темний фон */
  color: #fff;      /* Білий текст */   
  border-radius: 8px;   /* Закруглені кути */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);    /* Тінь */
}

.login {    /* Заголовок */
  text-align: center;   /* Центрований текст */
  margin-bottom: 1.5rem;    /* Відступ знизу */
}